.mat-card{
    margin: 20px;
    border-radius: 15px;
}
.count-card{
    width: 90%;
    margin: 15px;
    padding: 20px;
}
.bg-warning{
    background-color: lightblue;
}
.bg-info{
    background-color: lightcoral;
}
.bg-pine{
    background-color: lightyellow;
}
.bg-success{
    background-color: aquamarine;
}
// .bg-go{
//     background-color: red;
// }